@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 100px;
  --navbar-height-mobile: 76px;
  --layout: calc(100dvh - var(--navbar-height));
  --mobile-layout: calc(100dvh - var(--navbar-height-mobile));
}

@layer base {
  :root {
    --background: theme('colors.zinc.100');
    --foreground: theme('colors.zinc.950');
  }
  
  .dark {
    --background: theme('colors.zinc.950');
    --foreground: theme('colors.zinc.100');
  }
  
  * {
    @apply box-border;
  }
  
  html, body {
    @apply p-0 m-0 overflow-x-hidden font-sans scroll-smooth scrollbar-none text-foreground;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-extrabold;
  }
  
  h1 { @apply text-6xl font-black; }
  h2 { @apply text-5xl font-black; }
  h3 { @apply text-4xl; }
  h4 { @apply text-3xl; }
  h5 { @apply text-2xl; }
  h6 { @apply text-xl; }
  
  p {
    @apply text-base font-light;
  }
  
  a {
    @apply text-inherit no-underline text-base font-light;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}


