@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 116px;
  --layout: calc(100vh - var(--navbar-height));
}

h1,h2,h3,h4,h5,h6 {
  @apply font-extrabold;
  @apply text-slate-950 dark:text-slate-50;
}

p {
  @apply text-slate-950 dark:text-slate-50;
  @apply text-base;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gradient-transition {
  background-size: 200% 200%;
  transition: background-position 1s ease-in-out, background-image 1s ease-in-out;
}

.gradient-moon {
  background-image: linear-gradient(to top right, #1C0C32, #0A0412);
}

.gradient-sun {
  background-image: linear-gradient(to top right, #E0F2FE, #7DD3FC);
}

.gradient-mountain {
  background-image: linear-gradient(to top right, #F1D197, #66267A);
}

.gradient-tree {
  background-image: linear-gradient(to top right, #D6E8D8, #FFFFFF);
}

